/* FONTS  */
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --set-width: 0;
  --active: 50%;
}
/* ANIMATION */
@keyframes rotate{
  25%{
    transform: rotate(10deg);
  }
  75%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* Common styles */
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  margin-top: 92px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(55, 71, 79, 0.721569);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.button{
  display: inline-block;
  padding: 12px 34px;
  background: #717CFF;
  border-radius: 11px;
  border: none;
  transition: background 0.5s ease;
}
.button::after{
  display: inline-block;
  content: "";
  width: 19px;
  height: 17px;
  background-image: url("../img/next.png");
  background-position: center;
  vertical-align: middle;
  transition: 0.5s ease;
}
.button:hover{
  background: rgba(113, 124, 255, 0.8);
}
.button:hover::after{
  transform: translateX(15px);
}
.section-title{
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}
.section-info{
  max-width: 949px;
  margin: 0 auto;
  margin-bottom: 110px;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}
.learn-more-link{
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  color: #717CFF;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
.learn-more-link:hover{
  background-color: transparent;
  color: rgba(113, 124, 255, 0.7);
}
.learn-more-link::after{
  margin-left: 20px;
  background-size: contain;
}
.dotes{
  justify-content: center;
}
.dote + .dote{
  margin-left: 21px;
}
.dote{
  width: 10px;
  height: 10px;
  border: none;
  background-color: rgba(124, 124, 124, 0.318837);
  border-radius: 50%;
  cursor: pointer;
}
.solid-dote{
  width: 14px;
  height: 14px;
  background-color: #717CFF;;
}
/* HEADER  */
.site-header{
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
/* site-nav */

.header-container{
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
}
.logo-link{
  margin-right: 30px;
}
.nav-list{
  margin-left: auto;
}
.nav-item + .nav-item{
  margin-left: 70px;
}
.nav-item:not(:last-child)::after{
  display: block;
  content: "";
  height: 3px;
  width: var(--set-width);
  background: #717CFF;
  border-radius: 2px;
  transition: 0.3s ease;
}
.nav-item:hover::after{
  width: calc(50%);
}
.nav-link{
  padding-top: 9px;
  padding-bottom: 13px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  color: #373737;
}
.nav-button{
  padding: 9px 30px 13px 32px;
  border: 2px solid #717CFF;
  border-radius: 11px;
  transition: 0.3s ease;
}
.nav-button:hover{
  background-color: #717CFF;
  color: #FAFAFA;
}

/* hero  */
.hero-section{
  padding-top: 101px;
  background-image: url("../img/Oval.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 406px) 245px;
}
.hero-container{
  display: flex;
  align-items: center;
}
.hero-container::after{
  content: "";
  width: 470px;
  height: 565px;
  background-image: url("../img/heroimg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-date{
  max-width: 632px;
  margin-right: 61px;
} 
.hero-title{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  color: #2F2F2F;
}
.hero-title > strong{
  color: #717CFF;
}
.hero-text{
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;
}
.apply-button{
  display: inline-block;
  margin-bottom: 101px;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}
.apply-button::after{
  margin-left: 29px;
}
.social-media{
  display: flex;
  align-items: center;
}
.social-media > a{
  transition: 0.3s ease;
}
.social-media > a:hover{
  transform: rotate(18deg);
}
.social-media > a:not(:last-child){
  margin-right: 23px;
}

/* featured-universities */
.featured-universities{
  background: #FAFAFA;
  padding: 55px 0;
}
.featured-title{
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 0.73);
}
.universities-list{
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 112px;
}
.university{
  transition: 0.3s ease;
}
.university:hover{
  transform: scale(1.1);
}
.university:not(:last-child){
  margin-right: 74px;
}

/* our-services */
.our-services{
  padding-top: 122px;
  padding-bottom: 76px;
}
.services-list{
  justify-content: center;
}
.services-item{
  width: 344px;
  margin-bottom: 50px;
  padding: 30px 17px 30px 31px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.services-item:not(:nth-child(3)):not(:last-child){
  margin-right: 47px;
}
.services-item::before{
  display: block;
  content: "";
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.Career::before{
  background-image: url("../img/career.png");
}
.Admissions::before{
  background-image: url("../img/university.png");
}
.Visa::before{
  background-image: url("../img/visa.png");
}
.Accommodation::before{
  background-image: url("../img/accomidation.png");
}
.Briefing::before{
  background-image: url("../img/briefing.png");
}
.services-name{
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}
.services-text{
  margin-top: 0;
  margin-bottom: 25px;
  letter-spacing: 0.444444px;
}

/* news */
.news{
  padding-top: 102px;
  padding-bottom: 124px;
  background-color: #FAFAFA;;
}
.news-container{
  text-align: center;
}
.news-list{
  justify-content: center;
  margin-bottom: 146px;
}
.news-item + .news-item{
  margin-left: 46px;
}
.new-link{
  display: block;
  max-width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
  text-decoration: none;
}
.new-link::before{
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 224px;
  background-position: center;
  background-repeat: no-repeat;
}
.come::before{
  background-image: url("../img/come.png");
}
.how::before{
  background-image: url("../img/how.png");
}
.bit::before{
  background-image: url("../img/bit.png");
}
.news-box{
  padding: 28px 26px 62px 26px;
  text-align: left;
}
.new-data{
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #565656;
}
.new-data::before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  background-image: url("../img/icon.png");
  background-position: center;
  vertical-align: middle;
}
.new-info{
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}
.news-button{
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}
.news-button::after{
  margin-left: 36px;
}

/* Upcoming University Events */

.upcoming-university{
  padding-top: 98px;
  padding-bottom: 108px;
}
.upcoming-list{
  justify-content: center;
  margin-bottom: 81px;
}
.upcoming-item{
  max-width: 540px;
  padding: 29px 31px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.upcoming-item + .upcoming-item{
  margin-left: 47px;
}
.university-name{
  margin-top: 0;
  margin-bottom: 29px;
  display: flex;
  align-items: flex-start;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}
.university-name > span.data{
  margin-right: 19px;
  padding: 10px 22px;
  background: rgba(113, 124, 255, 0.14);
  border-radius: 11px;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #717CFF;
}
span.data:hover{
  animation: rotate 0.7s linear 1;
}
span.data > small{
  display: block;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #717CFF;
}
.upcoming-footer{
  display: flex;
  justify-content: space-between;
}
.university-info{
  margin-top: 0;
  margin-bottom: 26px;
  letter-spacing: 0.444444px;
}
.time{
  margin-left: 20px;
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.444444px;
  color: #373737;
  vertical-align: middle;
}
.time::before{
  display: inline-block;
  content: "";
  width: 24px;
  height: 21px;
  vertical-align: middle;
  background-image: url("../img/time.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Countries We Covered  */
.countries-covered{
  padding-top: 82px;
  padding-bottom: 136px;
  background-color: #FAFAFA;
}
.countries-covered-list{
  justify-content: center;
  margin-bottom: 70px;
}
.country + .country{
  margin-left: 46px;
}
.country{
  padding: 10px 10px 40px 10px;
  transition: 0.3s ease;
}
.country:hover{
  border-radius: 29px;
  box-shadow: 0px 0px 77px rgb(0 0 0 / 6%);
}
.country-link{
  display: block;
  max-width: 348px;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}
.country-link::before{
  display: block;
  content: "";
  width: 100%;
  height: 215px;
  border-radius: 29px;
  background-position: center;
  background-repeat: no-repeat;
}
.Australia::before{
  background-image: url("../img/australia.png");
}
.Canada::before{
  background-image: url("../img/canada.png");
}
.Uk::before{
  background-image: url("../img/uk.png");
}
.countries-name{
  margin-top: 27px;
  margin-bottom: 11px;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
}
.countries-info{
  margin: 0;
  line-height: 27px;
}

/* Testimonial */
.testimonial{
  padding-top: 115px;
  padding-bottom: 98px;
}
.testimonial-container{
  padding-right: 0;
}
.testomonial-list{
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-bottom: 86px;
}
.testomonial-item + .testomonial-item{
  margin-left: 61px;
}
.testomonial-link{
  display: block;
  width: 503px;
  padding: 39px 34px 46px 34px;
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.721569);
  text-decoration: none;
}
.testomonial-link:hover{
  box-shadow: 0px 0px 77px rgb(0 0 0 / 6%);
}
.testomonial-link:hover .testomonial-item-header::before{
  animation: rotate 0.7s linear 1;
}
.testomonial-item-header{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.testomonial-item-header::before{
  content: "";
  width: 62px;
  height: 62px;
  margin-right: 28px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.testomonial-name{
  margin: 0;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #37474F;
}
.Harrison::before{
  background-image: url("../img/harrison.png");
}
.Ainara::before{
  background-image: url("../img/ainara.png");
}
.Niek::before{
  background-image: url("../img/niek.png");
}
.testomonial-name > span{
  margin-top: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(55, 71, 79, 0.65);
}

/* Ready to chase your dreams? */
.ready-dream{
  padding-top: 82px;
  padding-bottom: 74px;
  background-color: #FAFAFA;
}
.ready-dream-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready-dream-title{
  margin-right: 40px;
  line-height: 43px;
}
.ready-dream-link{
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}
.ready-dream-link::after{
  margin-left: 43px;
}

/* footer  */
.footer-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style-type: none;
}
.footer-link{
  font-weight: 500;
  font-size: 18px;
  line-height: 49px;
  color: #EEEEEE;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer-link::after{
  display: block;
  content: "";
  height: 3px;
  width: 0;
  background: #FAFAFA;
  border-radius: 2px;
  transition: 0.3s ease;
}
.footer-link:hover{
  color: #FFF;
}
.footer-link:hover::after{
  width: calc(50%);
}
.site-footer{
  padding-top: 64px;
  padding-bottom: 45px;
  background: #717CFF;
}
.footer-top{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.logo{
  display: block;
  margin-bottom: 26px;
}
address{
  width: 343px;
  font-size: 18px;
  line-height: 32px;
  color: #EEEEEE;
  font-style: normal;
}
/* footer-navigation */
.footer-navigation{
  margin-left: 130px;
  margin-right: 106px;
}
/* our-brach */
.our-brach{
  margin-right: 152px;
}
/* social-networks */
.social-networks{
  align-self: flex-end;
}
.social-networks > a{
  display: inline-block;
  margin-right: 28px;
  transition: 0.3s;
}
.social-networks > a:hover{
  transform: scale(1.2);
}

/* trade */
.trade{
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #EEEEEE;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .section-title{
    font-size: 35px;
    line-height: 50px;
  }
  .section-info{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 60px;
  }
  .solid-dote{
    width: 12px;
    height: 12px;
  }
  .dote{
    width: 9px;
    height: 9px;
  }
  .container{
    padding: 0 30px;
  }
  .header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-item + .nav-item{
    margin-left: 20px;
  }
  .nav-link{
    font-size: 16px;
    line-height: 18px;
  }
  /* HERO  */
  .hero-section{
    padding-top: 70px;
  }
  .hero-container::after{
    height: 440px;
  }
  .hero-date{
    width: 75%;
  }
  .hero-title{
    font-size: 50px;
    line-height: 60px;
  }
  .apply-button{
    margin-bottom: 70px;
  }
  .social-media{
    margin-bottom: 20px;
  }
  /* featured-universities */
  .universities-list{
    flex-wrap: nowrap;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  /* our-services */
  .our-services{
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .services-list{
    width: 95%;
    margin: 0 auto;
    align-items: stretch;
  }
  .services-item{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .services-item:not(:nth-child(3)):not(:last-child){
    margin-right: 5%;
  }
  .services-item::before{
    width: 72px;
    height: 72px;
  }
  .services-name{
    font-size: 22px;
    line-height: 33px;
  }
  .services-item > .learn-more-link{
    margin-top: auto;
  }
  /* news  */
  .news{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .news-list{
    width: 95%;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-bottom: 100px;
  }
  .news-item{
    width: 30%;
  }
  .news-item + .news-item{
    margin-left: 5%;
  }
  .new-link::before{
    height: 185px;
  }
  .news-box{
    padding-bottom: 40px;
    min-height: 188px;
  }
  .new-info{
    font-size: 20px;
    line-height: 24px;
  }
  /* Upcoming University Events */
  .upcoming-university{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .upcoming-list{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .upcoming-item{
    width: 47%;
  }
  .upcoming-item + .upcoming-item{
    margin-left: 6%;
  }
  .university-name{
    font-size: 22px;
    line-height: 34px;
  }
  /* Countries We Covered  */
  .countries-covered{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .countries-covered-list{
    width: 100%;
    margin-bottom: 40px;
  }
  .country{
    width: 30%;
  }
  .country + .country{
    margin-left: 5%;
  }
  /* Testimonial */
  .testimonial{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testomonial-list{
    margin-bottom: 40px;
  }
  /* Ready to chase your dreams? */
  .ready-dream{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ready-dream-title{
    line-height: 43px;
    margin-bottom: 0;
  }
  /* footer  */
  .site-footer{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-list{
    padding: 0;
  }
  .our-address{
    width: 100%;
  }
  .footer-navigation{
    margin-left: 0;
  }
  .social-networks > a > img{
    width: 20px;
    height: 20px;
  }
}