/* FONTS  */
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(55, 71, 79, 0.721569);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.button{
  display: flex;
  align-items: center;
  padding: 12px 34px;
  background: #717CFF;
  border-radius: 11px;
  border: none;
}
.button::after{
  content: "";
  width: 19px;
  height: 17px;
  background-image: url("../img/next.png");
  background-position: center;
}

/* HEADER  */
/* site-nav */

.header-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
}
.logo-link{
  margin-right: 30px;
}
.nav-list{
  margin-left: auto;
}
.nav-item + .nav-item{
  margin-left: 70px;
}
.nav-link{
  padding-top: 9px;
  padding-bottom: 13px;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  color: #373737;
}
.nav-button{
  padding: 9px 30px 13px 32px;
  border: 2px solid #717CFF;
  border-radius: 11px;
}

/* hero  */
.hero-section{
  padding-top: 101px;
  background-image: url("../img/Oval.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 406px) 245px;
}
.hero-container{
  display: flex;
  align-items: center;
}
.hero-container::after{
  content: "";
  width: 470px;
  height: 565px;
  background-image: url("../img/heroimg.png");
  background-size: contain;
}
.hero-date{
  max-width: 632px;
  margin-right: 61px;
} 
.hero-title{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  color: #2F2F2F;
}
.hero-title > strong{
  color: #717CFF;
}
.hero-text{
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;
}
.apply-button{
  margin-bottom: 101px;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
}
.apply-button::after{
  margin-left: 29px;
}
.social-media{
  display: flex;
  align-items: center;
}
.social-media > a:not(:last-child){
  margin-right: 23px;
}

/* featured-universities */
.featured-universities{
  background: #FAFAFA;
  padding: 55px 0;
}
.featured-title{
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 0.73);
}
.universities-list{
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 112px;
}
.university:not(:last-child){
  margin-right: 74px;
}
.dotes{
  justify-content: center;
}
.dote + .dote{
  margin-left: 21px;
}
.dote{
  width: 10px;
  height: 10px;
  background-color: rgba(124, 124, 124, 0.318837);
  border-radius: 50%;
}
.solid-dote{
  width: 14px;
  height: 14px;
  background-color: #717CFF;;
}